<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		{$qrcode}
	</div>



<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
	var time_waitlogin = "";
	var uuid = "{$uuid}";
	waitlogin();
	function waitlogin(){
		if(uuid){
			$.ajax({
				type: "GET",
				url: "{:url('index/index/login')}",
				data:{
					'uuid': '{$uuid}'
				},
				success: function(data, status){
					console.log(data);
					if(data.code == 408 || data.code == 201){
						setTimeout("waitlogin()", 3000);
					}else{
						// waitlogin();
						
					}
				}

			})	
		}	
	}
</script>
</body>
</html>